<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
    <h1 class="text-center h3 mt-3">Inicio</h1>
    <div class="container">
        <div class="row">
            <a href="/view/maps">Ir a proyecto mapas de calor</a>
            <a href="/view/rula">Ir a proyecto rula</a>
            <a href="/view/efficiency">Ir a proyecto eficiencia</a>
        </div>
    </div>
</body>
</html>