body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

#contenedor1, #contenedor2, #contenedor3, #contenedor4 {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rulaGral {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dee2e6;
}

.rulaTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 20%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dee2e6;
}

#semaforo {
    width: 50%;
}

#plano-container {
    display: none;
}
