<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Multipak</a>
            <h5 class="nav-link text-light">Fecha: <span id="fechaSpan">2023-02-15</span></h5>
            <form id="fecha-form" action="/api/update" method="POST" class="d-flex">
                <div id="plano-container">
                    <h5 class="text-light">Plano:</h5>
                    <div class="form-group ms-2">
                        <select class="form-control text-secondary" id="plano" name="plano" style="width: 50px;">
                            <option value="XY">XY</option>
                            <option value="XZ">XZ</option>
                        </select>
                    </div>
                </div>
                <input type="text" id="fecha" name="fecha" class="form-control ms-2" placeholder="Selecciona una fecha" autocomplete="off">
                <button type="submit" class="btn btn-primary ms-2"><i class="bi bi-check-lg"></i></button>
            </form>
        </div>
    </nav>
    
    <!-- <div class="container-fluid">
        <div class="row">
            <form id="fecha-form" action="/api/update" method="POST" class="d-flex">
                <h5>Fecha: <span id="fechaSpan">2023-02-15</span></h5>
                <div class="d-inline-flex ps-2">
                    <input type="text" id="fecha" name="fecha" class="form-control" placeholder="Selecciona una fecha" autocomplete="off">
                </div>
                <div id="plano-container">
                    <h5 class="ms-2">Plano:</h5>
                    <div class="form-group ms-2">
                        <select class="form-control text-secondary" id="plano" name="plano">
                            <option value="">Selecciona una opción</option>
                            <option value="XY">XY</option>
                            <option value="XZ">XZ</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary ms-2"><i class="bi bi-check-lg"></i></button>
            </form>
        </div>
    </div> -->
</header>